@import 'tailwindcss';

:root {
	--background: #f9f9f9;
	--foreground: #626262;
	--accent: #f0af09;
	--border: #d9d9d9;
}

@theme {
	--color-border: var(--border);
	--color-accent: var(--accent);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-inter-sans);
}

@media (prefers-color-scheme: dark) {
	/* :root {
		--background: #0a0a0a;
		--foreground: #ededed;
	} */
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}
